include modules/mosaic/mosaic/aggregator/Cargo.toml
recursive-include modules/mosaic/mosaic/aggregator/src *

include modules/mosaic/mosaic-bindings/python/Cargo.toml
recursive-include modules/mosaic/mosaic-bindings/python/src *
