include modules/mosaic/mosaic/Cargo.toml
recursive-include modules/mosaic/mosaic *

include modules/mosaic/mosaic-bindings/python/Cargo.toml
recursive-include modules/mosaic/mosaic-bindings/python/src *
