/* -- body styles --------------------------------------------------------- */

a {
    color: #6834d5;
}

a:hover {
    color: #6834d5 !important;
}

.toc-backref {
    color: #6834d5 !important;
}

.viewcode-link {
    color: #6834d5 !important;
}

.nav-links a:hover{
  color: #6834d5;
}

.toctree-l1 a:hover{
  color: #6834d5;
}

.toctree-l1.current a{
  border-left:.25rem solid rgba(47, 84, 209, 0.6) !important;
}
.toctree-l1 a.current{
  color: #6834d5 !important;
  border-left-color: #2F54D1 !important;
}

.toctree-l2 a:hover{
  color: #6834d5 !important;
}
.toctree-l2 a.current{
  color: #6834d5 !important;
}

.nav-links a.router-link-active{
  color: #6834d5 !important;
}

.nav-item>a:not(.external):hover{
  margin-bottom:-2px;
  border-bottom: 2px solid #6834d5 !important;
}

/* -- For the highlighting sections.------------------------------------- */

.highlight pre{
  background-color: #f8f8f8 !important;
  color: #000000 !important;
  /* background-color: #000 !important; */
  font-size: 14px !important;
}.content

.highlight .n{
  color: #000000 !important;
  font-weight: bold !important;
  /* color: #fff !important; */
  /* color: #13479c !important; */
}

.highlight .p{
  color: #000000 !important;
  font-weight: bold !important;
}

.highlight .k{
  color: #000000 !important;
  font-weight: bold !important;
}

.highlight .o{
  color: #000000 !important;
  font-weight: bold !important;
}

.highlight .c1{
  color: #6c6c6d !important;
}

.highlight .mf{
  color: #009999 !important;
}

.highlight .mi{
  color: #009999 !important;
}

.highlight .nb{
  color: #0086B3 !important;
  font-weight: bold !important;
}

.highlight .nc{
  color: #445588 !important;
  font-weight: bold !important;
}

.highlight .ne{
  color: #990000 !important;
  font-weight: bold !important;
}

.highlight .nf{
  color: #990000 !important;
  font-weight: bold !important;
}

.highlight .nn{
  color: #555555 !important;
}

.highlight .gp{
  color: #4e3c63 !important;
}

.highlight .bp{
  color: #525252 !important;
}

.highlight .fm{
  color: #0000FF !important;
  font-weight: bold !important;
}

.highlight .kc{
  color: #6834d5 !important;
}

.highlight .kn{
  color: #000000 !important;
  font-weight: bold !important;
}

.highlight .s2{
  color: #d14 !important;
}

.highlight .sa{
  color: #BA2121 !important;
}

.highlight .si{
  color: #d14 !important;
}

.highlight .vm{
  color: #19177C !important;
}

/* .highlighted{
  background-color: #fff !important;
} */
